Repository Agoric/dapp-inter, pull requests merged in 2024-10, with the labels that each got.

#368 test: retry transactions to avoid account sequence mismatch error
  .github/workflows/liquidation-reconstitution.yml
  .github/workflows/liquidation.yml
  .github/workflows/vaults.yml
  test/e2e/specs/test.spec.js
Labels: emerynet

#370 test: fix and structure tests related to auction
  test/e2e/specs/liquidation-reconstitution.spec.js
  test/e2e/specs/liquidation.spec.js
  test/e2e/support.js
  test/e2e/test.utils.js
Labels: liquidation-reconstitution-testing, liquidation-testing

#372 enable disabled tests for a3p testing
  test/e2e/specs/liquidation-reconstitution.spec.js
Labels: liquidation-reconstitution-testing, liquidation-testing

#373 automate ATOM balance verification after transactions
  test/e2e/specs/liquidation.spec.js
  test/e2e/support.js
  test/e2e/test.utils.js
Labels: liquidation-reconstitution-testing, liquidation-testing

#375 Improvements in e2e tests
  test/e2e/specs/liquidation-reconstitution.spec.js
  test/e2e/specs/liquidation.spec.js
  test/e2e/test.utils.js
Labels: liquidation-reconstitution-testing, liquidation-testing

#376 generic command to fetch balances and update tests
  test/e2e/specs/liquidation-reconstitution.spec.js
  test/e2e/specs/liquidation.spec.js
  test/e2e/support.js
  test/e2e/test.utils.js
Labels: liquidation-reconstitution-testing, liquidation-testing

#377 Improvements when comparing decimal values
  test/e2e/specs/liquidation-reconstitution.spec.js
  test/e2e/specs/liquidation.spec.js
  test/e2e/support.js
  test/e2e/test.utils.js
Labels: liquidation-reconstitution-testing, liquidation-testing

#378 Skip tests if not enough balance
  test/e2e/specs/liquidation-reconstitution.spec.js
  test/e2e/specs/liquidation.spec.js
  test/e2e/support.js
Labels: liquidation-reconstitution-testing, liquidation-testing

#379 verify shortfall balance and debt burned
  test/e2e/specs/liquidation-reconstitution.spec.js
  test/e2e/specs/liquidation.spec.js
  test/e2e/support.js
  test/e2e/test.utils.js
Labels: liquidation-reconstitution-testing, liquidation-testing

#380 chore: compare values upto 2 decimal places
  test/e2e/specs/liquidation-reconstitution.spec.js
Labels: liquidation-reconstitution-testing

#382 fix e2e tests issues when running with emerynet
  test/e2e/specs/liquidation-reconstitution.spec.js
  test/e2e/specs/liquidation.spec.js
  test/e2e/support.js
  test/e2e/test.utils.js
Labels: liquidation-testing, emerynet

#383 Create a new wallet designed for vault creation
  test/e2e/specs/liquidation-reconstitution.spec.js
  test/e2e/specs/liquidation.spec.js
  test/e2e/support.js
  test/e2e/test.utils.js
Labels: liquidation-reconstitution-testing, liquidation-testing

#385 Update docs and CI workflows of e2e tests
  .github/workflows/liquidation-reconstitution.yml
  .github/workflows/liquidation.yml
  .github/workflows/reusable-workflow.yml
  README.md
Labels: liquidation-reconstitution-testing, liquidation-testing
